/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-slv.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/slv.autogen.att.gz
/slv.autogen.bin
/slv.automorf.att.gz
/slv.automorf.bin
/slv.autopgen.bin
/slv.rlx.bin
/*.hfst
/*.zhfst
/.DS_Store
/*.mode
/*-*.prob
/.deps
/config.in
/config
/test/*-output.txt
